* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/YunusDogru/Sign-in-Sign-up-React.js/main/img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.toggle-links {
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    #signin {
        color: #EEEEEE;
        background-color: transparent;
        border: none;
        font-size: 25px;
        font-family: 'Baloo Paaji 2', cursive;
    }
    #signup {
        color: #EEEEEE;
        background-color: transparent;
        border: none;
        font-size: 25px;
        font-family: 'Baloo Paaji 2', cursive;
    }
    .active {
        border-bottom: 4px solid #fb176d !important;
    }
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #EEEEEE;
    .username-wrap, .password-wrap, .password-wrap2 {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        flex-wrap: nowrap;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.65);
        opacity: 0.65;
        margin-bottom: 20px;
        font-family: 'Lato', sans-serif;
        i {
            width: 30px;
            font-size: 17px;
            display: flex;
            justify-self: start;
            align-items: center;
        }
        #username , #password, #password2{
            border: none;
            height: 30px;
            border-radius: 25px;
            background-color: transparent;
            width: 230px;
            margin-right: 20px;
            color: #EEEEEE;
          
            &:focus {
                outline: none;
                color: #EEEEEE;
            }
            &::placeholder {
                color: #EEEEEE;
            }
        }
    }
    .submit {
        width: 300px;
        height: 50px;
        border-radius: 25px;
        border: none;
        font-family: 'Baloo Paaji 2', cursive;        
        font-size: 15px;
        cursor: pointer;
        background-color: #fb176d;
        color: #EEEEEE;
        &:hover {
            background-color: #fb0964;
        }
    }
    .link {
        text-align: center;
        margin: 10px;
        text-decoration: none;
        font-family: 'Baloo Paaji 2', cursive;
        color: rgba( #EEEEEE, 0.5);
        font-size: 14px;

        &:hover, &:active {
            color: rgba( #EEEEEE, 0.7)
        }
    }
}